doctype 5
html(lang="en")
    head
        include include/header
        include include/analytics.jade
    body
        include include/menu
        include include/mixins

        .container.main-container
            .row
                .col-md-offset-1.col-md-10.light-theme#blog
                    +article("Web logs")
                        include ../content/blog.md
                        br
                        p
                            each entry in page.posts
                                .entry
                                    .row
                                        .col-xs-7
                                            h4.title
                                                if entry.post
                                                    a(href="/blog/" + functions.blogPostId(entry.date, entry.title) + "/")= entry.title
                                                else
                                                    span= entry.title
                                        .col-xs-5.date
                                            h4= functions.formatBlogEntryDate(entry.date)
                                    if entry.refs
                                        .references
                                            span(data-toggle="collapse",
                                                 data-target="#details-" + functions.blogPostId(entry.date, entry.title, true))= page.references
                                            .details.collapse(id="details-" + functions.blogPostId(entry.date, entry.title, true))
                                                ul
                                                    each ref, caption in entry.refs
                                                        li: a(href= ref, target="_blank")= caption
