doctype 5
html(lang="en")
    head
        include include/header
        include include/analytics.jade
    body
        include include/menu
        include include/mixins

        .container.main-container
            .row
                .col-md-offset-1.col-md-10.light-theme#blog
                    +article("Web logs")
                        include ../content/blog.md
                        p
                            each entry in page.posts
                                .entry
                                    .row
                                        .col-xs-9
                                            h3
                                                if entry.post
                                                    a(href="/blog/" + entry.post + "/")= entry.title
                                                else
                                                    != entry.title
                                        .col-xs-3.date= functions.formatBlogEntryDate(entry.date)
                                    if entry.refs
                                        .references
                                            span= page.references + ":"
                                            ul
                                                each ref, caption in entry.refs
                                                    li: a(href= ref, target="_blank")= caption
