doctype 5
html(lang="en")
    head
        include include/header
    body
        include include/menu

        .container
            .row
                .col-md-offset-1.col-md-10.main-container
                    .row
                        .col-xs-8
                            include ../article/intro.md
                        .col-xs-4.dark-theme#personal
                            include include/profile
