doctype 5
html(lang="en")
    head
        include include/header
    body
        .container

            .row
                .col-md-6
                    .page-header
                        h1= index.header
                        .lead=index.lead