doctype 5
html(lang="en")
    head
        include include/header
        include include/analytics.jade
    body
        include include/menu
        include include/mixins

        .container.main-container
            .row
                .col-md-offset-1.col-md-10.light-theme
                    +article("404")
                        img(src="/images/surprise.jpg").center-block
                        br
                        h4= page.caption
