doctype 5
html(lang="en")
    head
        include include/header
        include include/google-api.jade
        include include/analytics.jade
    body
        include include/facebook-api.jade
        include include/menu
        include include/mixins

        .container.main-container
            .row.post
                .col-md-offset-1.col-md-10.light-theme
                    +article(custom.post.title)
                        case custom.post.post
                            when "handy-incremental-parser.md"
                                include ../content/posts/handy-incremental-parser.md
                            when "the-future-of-web-ides.md"
                                include ../content/posts/the-future-of-web-ides.md
                            when "why-foss-is-broken.md"
                                include ../content/posts/why-foss-is-broken.md

                        hr

                        if custom.post.refs
                            .references
                                span(data-toggle="collapse",
                                     data-target="#details")= pages.blog.references
                                .details.collapse(id="details")
                                    ul
                                        each ref, caption in custom.post.refs
                                            li: a(href= ref, target="_blank")= caption

            if !custom.post.noDisqus
                br

                .row
                    .col-md-offset-1.col-md-10.light-theme
                        br
                        article: p
                            include include/disqus

                            +social(common.siteUrl + custom.postUrl,
                                    custom.post.title,
                                    custom.post.repo)
