title= custom.title || page.title

meta(name="description", content= page.description || common.description)
meta(name="keywords", content= (page.tags || common.tags).join(","))
meta(name="author", content= common.author)
meta(name="charset", content= common.encoding)

link(rel="shortcut icon", href="/favicon.ico")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

// jQuery
script(type="text/javascript",
       src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")

// Bootstrap
link(rel="stylesheet",href="/bootstrap.css")
link(rel="stylesheet",href="/theme.css")
case custom.page
    when "home": link(rel="stylesheet",href="/home.css")
    when "blog": link(rel="stylesheet",href="/blog.css")

script(type="text/javascript",
       src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js")