each entry in page.entries
    .entry
        .row
            .col-xs-10
                h3
                    if entry.post
                        a(href="/blog/" + entry.post + "/")= entry.title
                    else
                        != entry.title
            .col-xs-2
                span.date= entry.date
        if entry.refs
            .references
                span= page.references + ":"
                ul
                    each ref, caption in entry.refs
                        li: a(href= ref)= caption
