mixin section-header(title, id)
    h1.section-header(id = id ? id : functions.titleToId(title))
        .decoration-line
        span.caption= title

mixin article(title, id)
    article
        +section-header(title, id)
        block

mixin navigation-item(title, ref)
    if !!ref
        li: a.external(href= ref, target= "_blank"): span= title
    else
        li: a(href= "#" + functions.titleToId(title))
            span= title