doctype 5
html(lang="en")
    head
        include ../include/header
        script(type="text/javascript", src="/js/clamped-width.js")
        include ../include/google-api.jade
        include ../include/analytics.jade
    body(data-spy="scroll", data-target="#main-nav")
        include ../include/facebook-api.jade
        include ../include/menu
        include ../include/mixins

        .container.main-container
            .row
                .col-md-3(role="complementary")
                    #main-nav.dark-theme(data-spy="affix",
                                         data-offset-top="106",
                                         data-clampedwidth='[role="complementary"]')
                        .ul.nav.nav-pills.nav-stacked.nav-top
                            +navigation-item("About", "#papa-carlo")
                            +navigation-item("Introduction")
                            +navigation-item("Demo Application", "demo")
                            li
                                span Tutorial
                                ul.nav
                                    +navigation-item("Parser structure")
                                    +navigation-item("Parsing stages")
                                    +navigation-item("Lexis")
                                    +navigation-item("Fragments definition")
                                    +navigation-item("Abstract Syntax Tree")
                                    +navigation-item("Syntax definition API")
                                    +navigation-item("Error recovering")
                                    +navigation-item("Caching")
                                    +navigation-item("Expressions")
                                    +navigation-item("Manual AST manipulation")
                                    +navigation-item("Debugging")
                            +navigation-item("Source codes on GitHub", "https://github.com/Eliah-Lakhin/papa-carlo/")

                .col-md-9.light-theme(role="main")

                    +article("Papa Carlo")
                        .row
                            .col-xs-12
                                include ../../content/about-papa-carlo.md

                        img(src="https://raw.github.com/Eliah-Lakhin/papa-carlo-media/master/snapshots/manuscript-small.jpg")

                        +social("http://lakhin.com/projects/papa-carlo/",
                                "Incremental PEG parser in Scala",
                                "papa-carlo")

                    +article("Introduction")
                        include ../../../external/papa-carlo.wiki/What-is-it-about.md

                    +article("Parser structure")
                        include ../../../external/papa-carlo.wiki/Tutorial-1:-Parser-structure.md

                    +article("Parsing stages")
                        include ../../../external/papa-carlo.wiki/Tutorial-2:-Parsing-stages.md

                    +article("Lexis")
                        include ../../../external/papa-carlo.wiki/Tutorial-3:-Lexis.md

                    +article("Fragments definition")
                        include ../../../external/papa-carlo.wiki/Tutorial-4:-Fragments-definition.md

                    +article("Abstract Syntax Tree")
                        include ../../../external/papa-carlo.wiki/Tutorial-5:-Abstract-Syntax-Tree.md

                    +article("Syntax definition API")
                        include ../../../external/papa-carlo.wiki/Tutorial-6.1:-Syntax-definition-API.md

                    +article("Error recovering")
                        include ../../../external/papa-carlo.wiki/Tutorial-6.2:-Error-recovering.md

                    +article("Caching")
                        include ../../../external/papa-carlo.wiki/Tutorial-6.3:-Caching.md

                    +article("Expressions")
                        include ../../../external/papa-carlo.wiki/Tutorial-6.4:-Expressions.md

                    +article("Manual AST manipulation")
                        include ../../../external/papa-carlo.wiki/Tutorial-7:-Manual-AST-manipulation.md

                    +article("Debugging")
                        include ../../../external/papa-carlo.wiki/Tutorial-8:-Debugging.md
