hr
.row
    .col-sm-2
        include papa-carlo-github.txt
    .col-sm-2
        include papa-carlo-facebook.txt
    .col-sm-2
        include papa-carlo-twitter.txt
    .col-sm-2
        include papa-carlo-google.txt