@import "variables";
@import "bootstrap/mixins";

@primary-link-color: darken(@brand-primary, 10%);

#blog {
  .entry {
    padding: 0 20px 0px 20px;
    margin: 0 20px 10px 20px;

    h4 {
      font-family: @menu-font-family;
    }

    h4.title {
      text-align: left;

      a {
        font-family: @menu-font-family;
        color: @gray-dark;
        text-decoration: underline;

        &:hover {
          color: @primary-link-color;
        }
      }
    }

    .date {
      white-space: nowrap;

      h4 {
        text-align: right;
      }
    }

    .references {
      padding: 0 10px 10px 10px;

      & > span {
        border-bottom: 1px dotted @gray-light;
        cursor: pointer;

        &:hover {
          color: @primary-link-color;
          border-bottom: 1px dotted @primary-link-color;
        }
      }

      a {
        color: @link-color;

        &:hover,
        &:focus {
          color: @link-hover-color;
        }
      }
    }
  }
}

@media (max-width: @screen-lg) {
  #blog {
    .entry {
      h4 {
        font-size: @font-size-h5;
      }
    }
  }
}

@media (max-width: @screen-xs) {
  #blog {
    .entry {
      margin-left: -10px;
      margin-right: 0;
    }
  }
}