doctype 5
html(lang="en")
    head
        include include/header
        include include/analytics.txt
    body
        include include/menu

        .container.main-container
            .row
                .col-md-offset-1.col-md-10.light-theme
                    .row
                        .col-xs-8
                            include ../article/intro.md
                        .col-xs-4.dark-theme#personal
                            include include/profile
