doctype 5
html(lang="en")
    head
        include include/header
        include include/analytics.txt
    body
        include include/menu

        .container.main-container
            .row
                .col-md-offset-1.col-md-10.light-theme
                    include ../article/works.md